<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>OTP for Registration </title>
<style>
    .heading {
        text-align: center;
    }
</style>
</head>
<body>
<table cellpadding="10" align="center">
    <tr>
        <td colspan="2" class="heading">
            <h3>OTP For Registration</h3>
       </td>
    </tr>
    <tr>
        <td colspan="2">
            <p>Your OTP For Registration is <%=otp%>.
                This will expire after 5 minutes. Please Confirm your Account.
                 
                From Team Rent_Wizard` Thank you.</p>
        </td>
    </tr>
    <tr>
        Note: Don't share this otp to any other person We never call for any kind of OTP
    </tr>
</table>
</body>
</html>


